body {
    color: white;
    font: 20px, Arial, sans-serif;
    margin: 0;
    padding: 10;
    background-color: #363636;
    padding-left: 100px;
    padding-right: 100px;
    height: 100vh;
}

h2{
    padding-top: 20px;
}

h6{
    padding: 20px;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}