<!DOCTYPE html>
<html lang="en">
<head>
    {% include "model-header.html" %}
</head>
<body>
<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12 rounded">
                    <form id="login-form" class="form" action="submit" method="POST">{% csrf_token %}
                        <h3 class="text-center text-muted">Acessar Informações Extras</h3>
                        <div class="form-group">
                            <label for="username" class="text-muted">Nome do Usuário:</label><br>
                            <input type="text" name="username" id="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-muted">Senha:</label><br>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="remember-me" class="text-muted"><span>Lembrar Minha Senha</span> <span><input
                                    id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                            <input type="submit" name="submit" class="btn btn-outline-success my-2 my-sm-0"
                                   value="ENTRAR">
                        </div>
                        <div id="register-link" class="text-right text-muted">
                            <a href="/usuarios/cadastro" class="text-info">REGISTRAR</a>
                            <div><br></div>
                            <div class="text-danger">
                                <label>
                                <span> {% for message in messages %}
                                <strong>Erro </strong> {{ message }}
                                {% endfor %}
                                </span>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>