<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">TEMPO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if title is not None %}
        </ul>
                <a href="/login">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">ENTRAR</button>
                </a>
            {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/cidades">Previsão </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/alterar">Alterar Cidade </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cidades">Sobre o Desenvolvedor </a>
                    </li>
                </ul>
                <a href="/logout">
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">SAIR</button>
                </a>
            {% endif %}
    </div>
</nav>